In [4]:
import pandas as pd
import numpy as np

In [5]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
chipo = pd.read_csv(url, sep = '\t')

In [6]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [25]:
chipo.shape
#chipo.info()

(4622, 5)

In [14]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [15]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

In [24]:
c = chipo.groupby('item_name')
c = c.sum
#c = c.sort_values(['quantity'], ascending = False)
d = chipo['item_name'].value_counts(ascending = False)
d.head(1)

Chicken Bowl    726
Name: item_name, dtype: int64

In [29]:
total_items_order = chipo.quantity.sum()
total_items_order

4972

In [31]:
chipo.item_price.dtype

dtype('O')

In [34]:
dollarzer = lambda x : float(x[1:-1])
chipo.item_prce = chipo.item_price.apply(dollarzer)

c:\users\aditya.patel\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:2: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access

In [35]:
orders = chipo.order_id.value_counts().count()
orders

1834

In [39]:
chipo.item_name.value_counts().count()

50